<div class="jumbotron">
  <h1>Movie Titles App Challenge</h1>
</div>

<div class="container mb-3">
  <div class="row">

    <div class="search-box">

      <input [(ngModel)]="selected" [typeahead]="titleNames" [isAnimated]="true" class="form-control"
        placeholder="Search for a title by name">
      <div class="mt-3">
        <button (click)="getSearchTerm()" class="btn btn-default" type="submit">Search</button>

      </div>
    </div>

    <br />
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <accordion [isAnimated]="true">
        <accordion-group [isOpen]="isOpen" *ngFor="
        let title of titles$
          | async

        " heading="{{ title.TitleName}}  Release Year: {{title.ReleaseYear }}">
          <div class="container-fluid">
            <div class="row">
              <div class="col-6">

              </div>
            </div>
          </div>

        </accordion-group>

      </accordion>

    </div>
  </div>

  <!-- <pre>{{awards$ | async | json}}</pre>
  <pre>{{storylines$ | async | json}}</pre> -->
  <pre>{{ storylines$ | async | json}}</pre>

</div>
