<div class="jumbotron">
  <h1>Movie Titles App Challenge</h1>
</div>

<div class="container mb-3">
  <div class="row">
    <div class="search-box">
      <div class="btn-group mb-3" dropdown>
        <button id="button-animated" dropdownToggle type="button" class="btn btn-default sort-btn dropdown-toggle"
          aria-controls="dropdown-animated">
          Sort<span class="caret"></span>
        </button>
        <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
          <li role="menuitem" (click)="getSortByValue('a-z')">A-Z</li>
          <li role="menuitem" (click)="getSortByValue('z-a')">Z-A</li>
        </ul>
        <input [(ngModel)]="selected" [typeahead]="titleNames" [isAnimated]="true" class="form-control"
          placeholder="Search for a title by name" />
      </div>
      <div class="mt-3">
        <button (click)="getSearchTerm()" class="btn btn-default search-btn" type="submit">
          Search
        </button>
      </div>

    </div>

    <br />
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 ">
      <accordion [isAnimated]="true">
        <accordion-group [isOpen]="isOpen" *ngFor="let title of titles$ | sort:sortByValue | async">
          <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
            <div class="pull-left float-left">{{title.TitleName}}</div>
            <span class="badge badge-secondary float-right pull-right">{{title.ReleaseYear}}</span>
          </button>
          <div class="container-fluid">
            <div class="row">
              <div class="col-6">
                <div>
                  <button type="button" class="btn btn-default" (click)="isCollapsedAwards = !isCollapsedAwards"
                    [attr.aria-expanded]="!isCollapsedAwards" aria-controls="collapseBasic">
                    Awards
                  </button>
                  <hr />
                  <div id="collapseBasic" [collapse]="isCollapsedAwards" [isAnimated]="true">
                    <div class="well well-lg card card-block card-header">
                      <table class="table">
                        <thead>
                          <tr>

                            <th scope="col">Award</th>
                            <th scope="col">AwardYear</th>
                            <th scope="col">Award Company</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let award of title.Awards">
                            <ng-container *ngIf="award.AwardWon">

                              <td>{{award.Award}}</td>
                              <td>{{award.AwardYear}}</td>
                              <td>{{award.AwardCompany}}</td>
                            </ng-container>
                          </tr>

                        </tbody>
                      </table>

                    </div>
                  </div>

                </div>
              </div>
              <div class="col-6">

                <button type="button" class="btn btn-default" (click)="isCollapsedGenres = !isCollapsedGenres"
                  [attr.aria-expanded]="!isCollapsedGenres" aria-controls="collapseBasic">
                  Genres
                </button>
                <hr />
                <div id="collapseBasic" [collapse]="isCollapsedGenres" [isAnimated]="true">
                  <div class="well well-lg card card-block card-header">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Genre</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let genre of title.Genres; let i = index">
                          <ng-container *ngIf="genre.length">
                            <th scope="row">{{i + 1}}</th>
                            <td>{{genre}}</td>

                          </ng-container>
                        </tr>

                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3 mb-3">
              <div class="col-6">

                <button type="button" class="btn btn-default" (click)="isCollapsedActors = !isCollapsedActors"
                  [attr.aria-expanded]="!isCollapsedActors" aria-controls="collapseBasic">
                  Actors
                </button>
                <hr />
                <div id="collapseBasic" [collapse]="isCollapsedActors" [isAnimated]="true">
                  <div class="well well-lg card card-block card-header">
                    <table class="table">
                      <thead>
                        <tr>


                          <th scope="col">Participant Type</th>
                          <th scope="col">Name</th>


                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let participant of title.Participants">
                          <ng-container *ngIf="participant.RoleType == 'Actor' && participant.IsOnScreen">
                            <td>{{participant.ParticipantType}}</td>
                            <td>{{participant.Name}}</td>

                          </ng-container>
                        </tr>

                      </tbody>
                    </table>

                  </div>
                </div>

              </div>
              <div class="col-6">

                <button type="button" class="btn btn-default"
                  (click)="isCollapsedParticipants = !isCollapsedParticipants"
                  [attr.aria-expanded]="!isCollapsedParticipants" aria-controls="collapseBasic">
                  Participants
                </button>
                <hr />
                <div id="collapseBasic" [collapse]="isCollapsedParticipants" [isAnimated]="true">
                  <div class="well well-lg card card-block card-header">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Role Type</th>
                          <th scope="col">Name</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let participant of title.Participants">
                          <ng-container *ngIf="participant.RoleType != 'Actor'">
                            <td>{{participant.RoleType}}</td>
                            <td>{{participant.Name}}</td>

                          </ng-container>
                        </tr>

                      </tbody>
                    </table>

                  </div>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <ul>
                  <li *ngFor="let story of title.Storylines; let i = index">
                    <ng-container *ngIf="story">
                      <h4>Description {{i + 1}}</h4>
                      <p>{{story.Description}}</p>

                    </ng-container>
                  </li>
                </ul>

              </div>
            </div>
          </div>

        </accordion-group>
      </accordion>
    </div>
  </div>
</div>