<div class="jumbotron">
  <h1>Movie Titles App Challenge</h1>
</div>

<div class="container mb-3">
  <div class="row">

    <div class="search-box">

      <input [(ngModel)]="selected" [typeahead]="titleNames" [isAnimated]="true" class="form-control"
        placeholder="Search for a title by name">
      <div class="mt-3">
        <button (click)="getSearchTerm()" class="btn btn-default" type="submit">Search</button>

      </div>
    </div>

    <br />
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <accordion [isAnimated]="true">
        <accordion-group [isOpen]="isOpen" *ngFor="
        let title of titles$
          | async

        " heading="{{ title.TitleName}}  Release Year: {{title.ReleaseYear }}">
          <div class="container-fluid">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li *ngFor="let award of title.Awards">
                    <ul>
                      <h4>Award</h4>
                      <li> {{award.AwardWon}}</li>
                      <h4>Year</h4>
                      <li> {{award.AwardYear}}</li>
                      <h4>Award Type</h4>
                      <li> {{award.Award}}</li>
                      <h4>Award Company</h4>
                      <li> {{award.AwardCompany}}</li>
                    </ul>
                    <ul>
                      <h4>Participants</h4>

                      <li *ngFor="let person of award.Participants">

                        {{person}}

                      </li>

                    </ul>
                  </li>
                </ul>
              </div>
              <div class="col-6">
                <ul>
                  <li *ngFor="let storyline of title.Storylines">
                    <h3>Description</h3>
                    <p>{{storyline.Description}}</p>
                    <h3>Language</h3>
                    <p>{{storyline.Language}}</p>
                    <h3>Type</h3>
                    <p>{{storyline.Type}}</p>

                  </li>
                </ul>
              </div>
            </div>
          </div>

        </accordion-group>

      </accordion>

    </div>
  </div>

</div>
